@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:ital@1&display=swap');

body {
    background-color: #E97452;
}

header{
    background-color: rgba(57,180,147,.65);
    display: grid;
    grid-template-columns: 10% 90%;
    z-index: 1;
}

.logo {
    height: 150px;
}

nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
}
nav a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px; 
    text-decoration: solid;
    color: aquamarine;
}

nav a:hover{
    color: blue
}

#hero {
    display: grid;
    margin-top: -75px;
}

#hero-box{
    z-index: -1;
    display: flex;
    justify-content: center;
}

#hero-img{
    width: 50%;
}

.home-title{
    display: flex;
    justify-content: center;
    color: #2f2f2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125px;
    margin-top: -40px;
}

.home-grid {
    display: flex;         
    gap: 20px;              
    justify-content: space-between; 
}

section {
    flex: 1;            
    padding: 20px;      
    border-radius: 8px; 
    text-align: center;  
}

.Games-img, .tv-img {
    width: 100%;         
    max-width: 500px;      
    margin-bottom: 10px;  
}

.tv-img{
    margin-top: -100px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

h4 {
    margin-top: -15px;
    font-size: 1rem;
    text-align: left;
    padding-left: 23%;
    color: #111;   
}

section a{

    text-decoration: none;
    color: purple;
    font-size: 50px;
}

section a:hover{
    color: blue;
}

footer {
    background-color: sienna;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: Arial, sans-serif, 'Times New Roman';
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer .link {
    margin-top: 0;
    display: inline-block;
    text-align: center;
}

footer .link img {
    width: 80px;
}

footer .link img:hover {
    transform: scale(1.25);
}

footer a {
    color: beige;
}

